img{
	display:block;
}

body{
	background-color:#0080FF;
}
table,th{
	border:1px solid black;
	border-collapse:collapse;
}

ul{
	list-style-type: none;
	margin:0;
	padding:0;
}

p{
	clear:left;
}

.tableOfContents{
	background-color:#FFFF66;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top:0;
	width:100%;
}

li{
	float:left;
}

.header{
	display:block;
	color:yellow;
	text-align:center;
	padding:20px;
}


#returnTop{
	float:right;
}

#logo{
	float:center;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:300px;
}